## Atlassian PATs
# Expires Jul 09, 2026, 11:11:05 AM GMT+2
export JIRA_PERSONAL_TOKEN="<JIRA_TOKEN>"
# Expires 09 Jul 2026, 11:09:02 CEST
export CONFLUENCE_PERSONAL_TOKEN="<CONFLUENCE_TOKEN>"

# Expires August 5, 2026
export FIGMA_PERSONAL_TOKEN="<YOUR_FIGMA_PAT_TOKEN>"

# Expires: Sunday, August 16, 2026
export GITHUB_MCP_PAT="<YOUR_GITHUB_PAT_TOKEN"
